/* Styling specifically for the button with ID 'explore-button' */
#explore-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: inherit;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    color: #7e97b8;
    background-color: #e0e8ef;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.333);
    border-radius: 40px;
    padding: 16px 24px 16px 28px;
    transform: translate(0px, 0px) rotate(0deg);
    transition: 0.2s;
    box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%);
  }
  
  #explore-button:hover {
    color: #516d91;
    background-color: #E5EDF5;
    box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
  }
  
  #explore-button:active {
    box-shadow: none;
  }
  

  /* From Uiverse.io by Jedi-hongbin */ 
#bckk {
  display: flex;
  height: 3em;
  width: 100px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-width: 2px;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: #e0dbdb;
 }
 
 #bckk > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
 }
 
 #bckk:hover > svg {
  font-size: 1.2em;
  transform: translateX(-5px);
 }
 
 #bckk:hover {
  box-shadow: 9px 9px 33px #272626, -9px -9px 33px #ffffff;
  transform: translateY(2px);
 }